@{
	ViewBag.InitModule = "ReminderHistoryModule";
}

@section Scripts {
	<script src="~/js/reminder.js"></script>
}

<h2>Reminder History</h2>

</br>

<div data-ng-controller="ReminderHistoryController">
	<div data-ng-repeat="reminderhistory in reminderhistories" >
		<tr>
			<td>
				<div>Reminder Date Time {{reminderhistory.ReminderDateTime}} </div>
			</td>
			<td>
				<div>Message {{reminderhistory.Message}} </div>
			</td>
			<td>
				<div>Contact Name {{reminderhistory.ContactName}} </div>
			</td>
			<td>
				<div>Email Sent {{reminderhistory.EmailSent}} </div>
			</td>
			<td>
				<div>SMS Sent {{reminderhistory.SMSSent}} </div>
			</td>
			<td>
				<div>Message Sent Date Time  {{reminderhistory.MessageSentDateTime}} </div>
			</td>
		</tr>
		<br/>
	</div>
</div>





@*@model IEnumerable<AppointmentReminder.Models.ReminderHistoryModel>

@{
    ViewBag.Title = "History";
}

<h2>History..</h2>

<table>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ReminderDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMSSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageSentDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.ReminderDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMSSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageSentDateTime)
        </td>

    </tr>
}

</table>*@
