<!DOCTYPE html>
<html lang="en" data-ng-app="@ViewBag.InitModule" >
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->
	<link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2014.2.903/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

	    <script src="http://code.angularjs.org/1.2.14/angular.js"></script>
	    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
		<script src="~/Scripts/bootstrap.js"></script>
</head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Appointment Reminder", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
	                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
	                        <li>@Html.ActionLink("My Profile", "Index", "Profile")</li>
							<li>@Html.ActionLink("My Contacts", "Index", "Contact")</li>
	                        <li>@Html.ActionLink("Appointment Reminders", "Index", "Reminder")</li>
							<li>@Html.ActionLink("Reminders History", "History", "Reminder")</li>
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

@*						<script src="~/Scripts/angular.min.js"></script>*@
        @RenderSection("scripts", required: false)
    </body>
</html>
